<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

<!--    {{ form.valid }}-->
<!--    {{ form.value | json }}-->

    <form [formGroup]="compraForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p class="lead">Seus Dados:</p>
          </div>
        <div class="col-xs-12">
          <span class="help-block pull-right has-error-block" *ngIf="compraForm.hasError('Emailnaoencontrado')">Email-s não confere com a confirmação de email</span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo Obrigatorio" label="Nome">
            <input  class="form-control" name="nome" ngModel required minlength="5" formControlName="nome" placeholder="nome" autocomplete="off" />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email invalido" label="Email">
            <input  class="form-control" formControlName="email" placeholder="email" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Campo Obrigatorio" label="Confirmação do E-mail:">
            <input class="form-control"  formControlName="confirmacao"  placeholder="Confirmação do Email">
          </mt-input-container>

        </div>
      </div>

      <div class="row ">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo Obrigatorio" label="Endereço">
            <input class="form-control" name="endereco"  required minlength="5" formControlName="endereco" placeholder="Endereço" autocomplete="off" />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Campo Obrigatorio" label="Número">
            <input type="text" class="form-control" name="numero" pattern="^[0-9]*$" formControlName="numero"  required  maxlength="4"
                   placeholder="Número" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">

            <mt-input-container errorMessage="Campo Obrigatorio" label="Complemento">
              <input type="text" class="form-control" name="complemento"  formControlName="complemento" placeholder="Complemento">
            </mt-input-container>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-tens [itens]="cartItems()" (increaseqTY)="increaseQty($event)" (desincreaseqTY)="desincreaseQty($event)" (remove)="remove($event)"></mt-order-tens>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-6  col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
            <div class="form-group">
          <mt-radio [opcoes]="pagamento" formControlName="opcoesDePagamentos"  required></mt-radio>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itensValue]="itensValue()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkCompra(compraForm.value)"  [disabled]="!compraForm.valid || cartItems().length === 0"  class="btn btn-success pull-right"
        ><i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
